.top-bar {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: #e0e0e0;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
}

.top-bar-left {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.top-bar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}